* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    /* COULEURS*/
    --text-color: #ffffff;
    --primary: #0077b6;
    --secondary: #1A1D23;
    --background: #000000;
    /*POLICE TEXT*/
    --bald-pixel: 'AriBald';
    --font-pixel: 'AriCondensed';
    /*PADDING*/
    --padding: 2%;
}

html, body {
    height: 100%;
}

body {
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
}


#Nomai1, #Nomai2 {
    position: absolute;
    width: 30%;
    z-index: -1;
}

#Nomai1 {
    bottom: 0;
    left: 0;
}

#Nomai2 {
    top: 0;
    right: 0;
}


main {
    display: flex;
    background-color: var(--background);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    border-radius: 8px;
    border-right: 2px solid var(--primary);
    border-left: 2px solid var(--primary);
    padding: 2%;
    margin: 5%;
    width: 60%;
    max-width: 1100px;
    font-size: 80%;
    gap: 3%;
}

main img {
    width: 40%;
    border-radius: 8px;
}


.paragraphe {
    display: flex;
    flex-direction: column;
    width: 55%;
    gap: 15px;
}

.paragraphe h4 {
    font-size: 200%;
}

.paragraphe p {
    font-size: 90%;
}

.paragraphe p input {
    width: 100%;
    padding: 6px;
}


.Commentaire {
    margin-left: 3%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Commentaire h4 {
    margin-bottom: 5px;
}

.Commentaire input {
    padding: 8px;
    width: 100%;
}


a {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2%;
    width: 4%;
}

a img {
    width: 100%;
    min-width: 40px;
}

@media (max-width: 900px) {
    main {
        width: 80%;
        flex-direction: column;
        text-align: center;
    }

    main img {
        width: 70%;
        margin-bottom: 20px;
    }

    .paragraphe {
        width: 90%;
    }

    #Nomai1, #Nomai2 {
        width: 40%;
    }
}

@media (max-width: 600px) {
    main {
        width: 90%;
        padding: 5%;
    }

    main img {
        width: 90%;
    }

    a img {
        width: 15%;
    }

    #Nomai1, #Nomai2 {
        opacity: 0.2;
        width: 60%;
    }
}

