* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    /* COULEURS*/
    --text-color: #ffffff;
    --primary: #0077b6;
    --secondary: #1A1D23;
    --background: #000000;

    /*POLICE TEXT*/
    --bald-pixel: 'AriBald';
    --font-pixel: 'AriCondensed';

    /*PADDING/MARGIN*/
    --padding: 2%;
}

html {
    height: 100%;
}

body {
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#Nomai1 {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    z-index: -1;
}

#Nomai2 {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    z-index: -1;
}

main {
    display: flex;
    background-color: var(--background);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    border-radius: 8px;
    border-right: 2px solid var(--primary);
    border-left: 2px solid var(--primary);
    padding: 2%;
    margin: 5%;
    width: 50%;
    font-size: 80%;
}

main img {
    width: 40%;
    border-radius: 8px;
}

.paragraphe {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 100%;
    margin-left: 5%;
}

.paragraphe  h4 {
    font-size: 200%;
    margin-bottom: 10%;
}

.paragraphe  p {
    font-size: 80%;
    margin: 1%;
}
.paragraphe  p input {
    font-size: 80%;
}

a {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2%;
}

a img {
    width: 10%;
}