* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    /* COULEURS*/
    --text-color: #ffffff;
    --primary: #0077b6;
    --secondary: #1A1D23;
    --background: #000000;
    --comand: #5BB5A4;

    /*POLICE TEXT*/
    --bald-pixel: 'AriBald';
    --font-pixel: 'AriCondensed';

    /*PADDING/MARGIN*/
    --padding: 2%;
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--secondary);
}

.main {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    padding: 2%;
    margin-top: 1%;
}

.Block {
    display: flex;
    justify-content: center;
    background-color: var(--background);
    color: var(--text-color);
    width: 100%;
    border-radius: 15px;
    padding: 4%;
    border-right: solid 2px var(--primary);
    border-left: solid 2px var(--primary);
}

p {
    font-size: 90%;
    color: var(--text-color);
}

h1 {
    margin: 2%;
    color: var(--primary);
}

h3 {
    margin: 2%;
    color: var(--primary);
}

#Command {
    margin-top: 3%;
    margin-bottom: 2%;
    color: var(--comand);
}

#Command span {
    color: #277EFD;
}

#Option {
    color: var(--text-color);
}

.GridParcours {
    display: grid;
    grid-template-columns: 46% 46%; /*PS LE PADING 46+46+4+4*/ 
    grid-template-rows: 40% 40% 40%;
    gap: 2%;
    justify-content: center;
    align-items: center;

}

img {
    width: 50%;
    border-radius: 15px;
}

#BoutonAcceuil {

    position: relative;
    top: 0;
    right: 0;
    margin: 1%;
}

#BoutonAcceuil img {
    width: 8%;
}


@media (max-width: 600px) {
    .main {
        width: 100%;
    }
}